# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *chipotle.tsv*

In [2]:
chipo = pd.read_table("Exercise Data Files/Pandas Exercise Filtering Sorting Files/chipotle.tsv",sep="\t")

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [67]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo['item_price']=chipo['item_price'].str.replace('$','')

<ipython-input-6-aebd6df9c285>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  chipo['item_price']=chipo['item_price'].str.replace('$','')

In [7]:
chipo['item_price']=chipo['item_price'].astype(float)

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [8]:
chipo.iloc[np.where(chipo['item_price']>10)]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [71]:
chipo.groupby(['item_name'])['item_price'].unique()

item_name
6 Pack Soft Drink                                                            [6.49, 12.98]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                     [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                            [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                           [22.2, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                             [2.18, 1.09, 4.36]
Canned Soft Drink                                                   [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                               [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                             [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                           [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                          [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                               [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                               [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                          [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                              [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                          [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                      [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                            [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                         [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                     [2.39, 4.78, 7.17]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                              [3.39, 6.78]
Salad                                                                                [7.4]
Side of Chips                                                          [1.69, 5.07, 13.52]
Steak Bowl                               [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                            [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                        [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                      [23.78, 11.89, 9.39]
Steak Soft Tacos                                          [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                              [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                           [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                               [11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object

### Step 6. Sort by the name of the item

In [10]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [62]:
x=chipo.iloc[np.where(chipo['item_price'])].max()
print(x)
x.quantity

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price                44.25
dtype: object

15

In [12]:
chipo.groupby(['item_name'])['quantity'].agg(['max'])

                                       max
item_name
6 Pack Soft Drink                        2
Barbacoa Bowl                            1
Barbacoa Burrito                         1
Barbacoa Crispy Tacos                    2
Barbacoa Salad Bowl                      1
Barbacoa Soft Tacos                      1
Bottled Water                           10
Bowl                                     3
Burrito                                  1
Canned Soda                              4
Canned Soft Drink                        4
Carnitas Bowl                            3
Carnitas Burrito                         2
Carnitas Crispy Tacos                    2
Carnitas Salad                           1
Carnitas Salad Bowl                      1
Carnitas Soft Tacos                      1
Chicken Bowl                             3
Chicken Burrito                          4
Chicken Crispy Tacos                     2
Chicken Salad                            1
Chicken Salad Bowl                       2
Chicken Soft Tacos                       2
Chips                                    3
Chips and Fresh Tomato Salsa            15
Chips and Guacamole                      4
Chips and Mild Fresh Tomato Salsa        1
Chips and Roasted Chili Corn Salsa       2
Chips and Roasted Chili-Corn Salsa       1
Chips and Tomatillo Green Chili Salsa    2
Chips and Tomatillo Red Chili Salsa      2
Chips and Tomatillo-Green Chili Salsa    2
Chips and Tomatillo-Red Chili Salsa      3
Crispy Tacos                             1
Izze                                     1
Nantucket Nectar                         2
Salad                                    1
Side of Chips                            8
Steak Bowl                               3
Steak Burrito                            3
Steak Crispy Tacos                       2
Steak Salad                              1
Steak Salad Bowl                         2
Steak Soft Tacos                         2
Veggie Bowl                              2
Veggie Burrito                           3
Veggie Crispy Tacos                      1
Veggie Salad                             1
Veggie Salad Bowl                        1
Veggie Soft Tacos                        2

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [45]:
a=chipo.iloc[np.where(chipo['item_name']=='Veggie Salad Bowl')]
a.count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [56]:
b=chipo.iloc[np.where(chipo['item_name']=="Canned Soda")]
c=b.quantity>1
c.count()

104